<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View</title>
    </head>
    <body>
        <table class="table table-light">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i= 0 ; i <data.length; i++) { %>
                <tr>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].email %></td>

                    <td>
                   
                        <form action="/delete" method="post">
                            <input type="hidden" name="id" id="id" value="<%= data[i]._id %>">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>
